EjerciciosClaseLM/xml/hoteles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="T_tipoHotel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hotel de aeropuerto"/>
			<xs:enumeration value="Hotel de ciudad"/>
			<xs:enumeration value="Hotel de conferencias"/>
			<xs:enumeration value="Hotel de negocios"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="hoteles">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hotel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nombre"/>
							<xs:choice>
								<xs:element name="clasificacion"/>
								<xs:element name="clasificacionHotelstars"/>
							</xs:choice>
							<xs:element name="direccion"/>
							<xs:element name="telefono" minOccurs="0"/>							
							<xs:element name="sitioWeb" minOccurs="0"/>							
							<xs:element name="tipoHotel" type="T_tipoHotel" maxOccurs="unbounded"/>
							<xs:element name="descripcion"  minOccurs="0"/>
							<xs:element name="actividadDeportiva" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="estrellas" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:byte">
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
									<xs:enumeration value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
