EjerciciosClaseLM/xml/jugadoresNBA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="pos">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ala-Pivot"/>
			<xs:enumeration value="Alero"/>
			<xs:enumeration value="Escolta"/>
			<xs:enumeration value="Pivot"/>
			<xs:enumeration value="Base"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="equip">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Atlanta Hawks"/>
			<xs:enumeration value="Boston Celtics"/>
			<xs:enumeration value="Charlotte Bobcats"/>
			<xs:enumeration value="Chicago Bulls"/>
			<xs:enumeration value="Cleveland Cavaliers"/>
			<xs:enumeration value="Dallas Mavericks"/>
			<xs:enumeration value="Denver Nuggets"/>
			<xs:enumeration value="Detroit Pistons"/>
			<xs:enumeration value="Golden State Warriors"/>
			<xs:enumeration value="Houston Rockets"/>
			<xs:enumeration value="Indiana Pacers"/>
			<xs:enumeration value="Los Angeles Clippers"/>
			<xs:enumeration value="Los Angeles Lakers"/>
			<xs:enumeration value="Memphis Grizzlies"/>
			<xs:enumeration value="Miami Heat"/>
			<xs:enumeration value="Milwaukee Bucks"/>
			<xs:enumeration value="Minnesota Timberwolves"/>
			<xs:enumeration value="Brooklyn Nets"/>
			<xs:enumeration value="New Orleans Hornets"/>
			<xs:enumeration value="New York Knicks"/>
			<xs:enumeration value="Oklahoma City Thunder"/>
			<xs:enumeration value="Orlando Magic"/>
			<xs:enumeration value="Philadelphia 76ers"/>
			<xs:enumeration value="Phoenix Suns"/>
			<xs:enumeration value="Portland Trail Blazers"/>
			<xs:enumeration value="Sacramento Kings"/>
			<xs:enumeration value="San Antonio Spurs"/>
			<xs:enumeration value="Toronto Raptors"/>
			<xs:enumeration value="Utah Jazz"/>
			<xs:enumeration value="Washington Wizards"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="jugadores">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="jugador" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nombre"/>
							<xs:element name="altura">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="pulgadas"/>
										<xs:element name="metros"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="peso">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="libras"/>
										<xs:element name="kilos"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="titulos" minOccurs="0"/>
								<xs:element name="campeonatos" minOccurs="0"/>
							</xs:choice>
							<xs:element name="equipo" type="equip"/>
							<xs:element name="posicion" type="pos" maxOccurs="unbounded"/>
							<xs:element name="MejorJug" minOccurs="0"/>
							<xs:element name="equipoAnt" type="equip" minOccurs="0" maxOccurs="30"/>
						</xs:sequence>
						<xs:attribute name="Comienzo" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
