EjerciciosClaseLM/xml/jugadores.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!ELEMENT jugadores ((jugador+))>
<!ELEMENT jugador ((nombre, (titulos | campeonatos), equipo, posicion+, MejorJug?, equipoAnt*))>
<!ATTLIST jugador	Comienzo (2007 | 2003 | 2001 | 1995) #REQUIRED>
<!ELEMENT titulos (#PCDATA)>
<!ELEMENT campeonatos (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT equipoAnt (#PCDATA)>
<!ELEMENT equipo (#PCDATA)>
<!ELEMENT MejorJug (#PCDATA)>
