EjerciciosClaseLM/xml/menu.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT forma (#PCDATA)>
<!ELEMENT comida ((nombre, precio, descripcion, calorias, forma+))>
<!ATTLIST comida id CDATA #REQUIRED>
<!ELEMENT MENU ((comida+))>
