EjerciciosClaseLM/xml/PlantillaCF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="T_PiernaHabil">
		<xs:restriction base="xs:string">
			<xs:enumeration value=" Diestro "/>
			<xs:enumeration value=" Zurdo "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Posicion">
		<xs:restriction base="xs:string">
			<xs:enumeration value=" Defensa Central "/>
			<xs:enumeration value=" Defensa central "/>
			<xs:enumeration value=" Delantero Centro "/>
			<xs:enumeration value=" Extremo ambas bandas "/>
			<xs:enumeration value=" Extremo derecho "/>
			<xs:enumeration value=" Extremo izquierdo "/>
			<xs:enumeration value=" Interior Izquierda "/>
			<xs:enumeration value=" Lateral Derecho "/>
			<xs:enumeration value=" Lateral Izquierdo "/>
			<xs:enumeration value=" Lateral izquierdo "/>
			<xs:enumeration value=" MediaPunta, 2 punta "/>
			<xs:enumeration value=" Mediocentro defensivo "/>
			<xs:enumeration value=" Mediocentro denfensivo "/>
			<xs:enumeration value=" Portero "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MalagaCF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Jugador" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nombre"/>
							<xs:element name="Posicion" type="T_Posicion" maxOccurs="unbounded"/>
							<xs:choice>
								<xs:element name="Nacionalidad" maxOccurs="unbounded"/>
								<xs:element name="LugarNacimiento"/>
							</xs:choice>
							<xs:element name="FechaNacimiento"/>
							<xs:element name="Altura"/>
							<xs:element name="Peso"/>
							<xs:element name="PiernaHabil" type="T_PiernaHabil"/>
							<xs:element name="Debut" minOccurs="0"/>
							<xs:element name="Estadisticas">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Partidos"/>
										<xs:element name="Minutos"/>
										<xs:choice>
											<xs:element name="Paradas"/>
											<xs:element name="Goles"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tarjetas">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Amarillas"/>
										<xs:element name="Rojas"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="dorsal" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:byte">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
