EjerciciosClaseLM/xml/productosValidador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="productos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="producto" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<!--  No se puede repetir el codigo  -->
		<xs:unique name="unique-codigo">
			<xs:selector xpath="producto"/>
			<xs:field xpath="@codigo"/>
		</xs:unique>
	</xs:element>
	<xs:element name="producto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre"/>
				<xs:element ref="descripcion"/>
				<xs:element ref="precio"/>
				<xs:element ref="stock"/>
			</xs:sequence>
			<xs:attribute name="codigo" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="([0-9])*"/>
						<!-- los codigos solo pueden ser numeros enteros del 0 al 9, el asterisco es para que se pueda poner más de un digito-->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="categoria" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="monitor"/>
						<xs:enumeration value="portatil"/>
						<!-- solo se puede crear dos categorias y es obligatorio -->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
			<!-- se puede introducir como maximo 30 caracteres -->
		</xs:simpleType>
	</xs:element>
	<xs:element name="descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="precio">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="1000"/>
			</xs:restriction>
			<!-- los precios van de 1 a 1000 en decimal -->
		</xs:simpleType>
	</xs:element>
	<xs:element name="stock">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="200"/>
			</xs:restriction>
			<!-- Números enteros del 1 al 200" -->
		</xs:simpleType>
	</xs:element>
</xs:schema>
