EjerciciosClaseLM/xml/trenes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Trenes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="infoTrenIda" type="infoTren" maxOccurs="unbounded"/>
				<xs:element name="infoTrenVuelta" type="infoTren" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Nodo tren-->
	<xs:complexType name="infoTren">
		<xs:sequence>
			<xs:element name="tren" type="xs:integer"/>
			<xs:element name="tipoTren">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cdgoTipoTren" type="xs:string"/>
						<xs:element name="descTipoTren" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="horaSalida" type="xs:short"/>
			<xs:element name="horaLlegada" type="xs:short"/>
			<xs:element name="origen">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cdgoEstacion" type="xs:int"/>
						<xs:element name="descEstacion" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="destino">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cdgoEstacion" type="xs:int"/>
						<xs:element name="descEstacion" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="clases" maxOccurs="unbounded"/>
			<xs:element ref="infoAdicionales" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--fin-->
	<!-- Elementos complejos -->
	<xs:element name="clases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cdgoClase"/>
				<xs:element ref="descClase"/>
				<xs:element ref="ocupaciones"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ocupaciones">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdgoOcupacion"/>
				<xs:element name="descOcupacion"/>
				<xs:element ref="tarifas" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tarifas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdgoTarifa"  type="xs:string"/>
				<xs:element name="descTarifa"  type="xs:string"/>
				<xs:element name="disponibilidad" type="xs:string"/>
				<xs:element name="precio" type="xs:integer"/>
				<xs:element name="claseComercial"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infoAdicionales">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cdgoInformacion" type="xs:string"/>
				<xs:element name="txtoInformacion" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--fin-->
	<!--Estos todos son los tipos de tarifa y clase que existen  -->
	<xs:element name="descTarifa">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C. Joven"/>
				<xs:enumeration value="FLEXIBLE"/>
				<xs:enumeration value="IDA Y VUELTA"/>
				<xs:enumeration value="Nino"/>
				<xs:enumeration value="Promo"/>
				<xs:enumeration value="Promo+"/>
				<xs:enumeration value="Tfa. Tarjeta Dorada"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- fin tipo -->
	<xs:element name="descClase">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Club"/>
				<xs:enumeration value="Preferente"/>
				<xs:enumeration value="Turista"/>
				<xs:enumeration value="Turista Plus"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cdgoClase">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
