EjerciciosClaseLM/xml/vehiculos.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->

<!ELEMENT Empresa ((Vendedor+))>

<!-- Vendedor -->
<!ELEMENT Vendedor ((nif, nombre, telefono, correoElectronico, vehiculo+, datosVendedor*))>
<!-- Vehículos  -->
<!ELEMENT vehiculo ((modelo, marca, matricula, kms?, precioMin, precioMax?, foto, equipamiento))>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT kms (#PCDATA)>
<!ELEMENT precioMin (#PCDATA)>
<!ELEMENT precioMax (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
<!ELEMENT equipamiento (#PCDATA)>
<!-- fin -->

<!-- DatosVendedores -->
<!ELEMENT datosVendedor ((nif, nombre, contacto?, telefono+,correo*, vehiculo+))>

<!-- Elementos y atributos Vendedores-->
<!ELEMENT nif (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT correoElectronico (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT contacto (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ATTLIST Vendedor
	tipo (profesional | particular) #REQUIRED
>
<!ATTLIST nif
	tipo (profesional | particular) #IMPLIED
>
